html,
body,
p {
   margin: 0;
   padding: 0;

}


.container {
   width: 1000px;
   margin: 0 auto;
}

.navigator {
   box-shadow: 0px 1px 8px rgb(211, 211, 211);
}

.nav-main {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 20px 0;
}

.nav-link {
   font-family: 'Rubik', sans-serif;
   font-weight: 500;
   font-size: 22px;
   margin-left: 24px;
   text-decoration: none;
   color: rgb(27, 27, 27);
   transition: color .3s;
}

.nav-link:hover {
   color: rgb(87, 87, 87);
}

.header {
   display: flex;
   justify-content: space-between;
   margin: 80px 0;
   color: rgb(27, 27, 27);
}

.header p {
   font-family: 'Rubik', sans-serif;
   font-size: 20px;
   line-height: 1.45em;
   font-weight: 300;
}

.header_image {
   width: 50%;
}

.name {
   width: 50%;
   width: 15ch;
   display: flex;
   font-size: 48px;
   font-family: monospace;
   white-space: nowrap;
   overflow: hidden;
   border-right: 4px solid orange;
   animation: flashing-border 0.75s step-end infinite,
      printed-text 2s steps(15);
}

.title h1 {
   margin-top: 0;
}

@keyframes flashing-border {
   0% {
      border-color: orange;
   }

   50% {
      border-color: transparent;
   }

   100% {
      border-color: orange;
   }
}

@keyframes printed-text {
   from {
      width: 0;
   }
}

.work {
   display: inline-block;
   padding: 0;
   background-color: rgb(27, 27, 27);
   border-radius: 6px;
   color: white;
   font-family: 'Inter', sans-serif;
   margin-bottom: 20px;
}

.work h3 {
   margin: 0;
   padding: 5px 10px;

}

.main_info {
   height: 310px;
   display: flex;
   font-size: 20px;
   font-family: 'Rubik', sans-serif;
}


.list {
   padding: 0;
   list-style-type: none;
   font-size: 20px;
   font-weight: 300;

}

.list li {
   padding: 7px 0;
}

.list li:before,
.list b {
   display: inline-block;
   width: 1.5em;
   font-size: 20px;
   margin-right: 7px;
   text-align: center;
   color: rgb(37, 37, 37);
}

.list p {
   display: inline-block;
   font-size: 20px;
   margin-right: 7px;
   text-align: center;
   color: rgb(87, 87, 87);
   font-weight: bold;
}

.list a {
   text-decoration: none;
   color: rgb(37, 37, 37)
}

.list a:hover {
   text-decoration: underline;
   transition: color .3s;
   color: rgb(37, 37, 37)
}

.personal_info {
   width: 35%;
}

.my_skills {
   margin-left: 40px;
   font-family: 'Rubik', sans-serif;
}

.line_gradient {
   width: 100%;
   height: 0.4em;
   background: rgb(131, 58, 180);
   background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
}





.footer {
   position: absolute;
   bottom: 0;
   display: flex;
   justify-content: center;
   padding: 40px 0;
   font-size: 14px;
   font-family: 'Rubik', sans-serif;
   font-weight: 300;

}


.society img {
   font-size: 16px;
   padding-right: 20px;
   color: rgb(27, 27, 27);
   transition: color .4s;
}

.fa-vk:hover {
   color: rgb(50, 132, 255);
}

.fa-telegram:hover {
   color: rgb(12, 174, 202);
}

.fa-github:hover {
   color: rgb(142, 72, 255);
}